/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(223, 191, 206);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(162, 202, 206);
	padding: 20px;
    
}
.image {
    padding: 1px;
    border: 8px solid rgb(221, 75, 75);
    margin: 10px;
}
    .name {
        padding: 10px;
        border: 1px solid rgb(138, 132, 132);
        margin: 2px;
        margin-bottom: 20px;
        background-color: powderblue;
    }

.Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
.h1 {
    color: rgb(1, 12, 22);    
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: italic;
    align-items: center;
   
    }